<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309124995785-klbsrinh85e3jr3rme9fdrd2s44n5e4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309124995785-klbsrinh85e3jr3rme9fdrd2s44n5e4k</string>
	<key>API_KEY</key>
	<string>AIzaSyCDSK1qf2AjdY7UmXP342GpAn4ySgdai0c</string>
	<key>GCM_SENDER_ID</key>
	<string>309124995785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vladislav.mazurov.CafeHubTest</string>
	<key>PROJECT_ID</key>
	<string>cafehub-cc691</string>
	<key>STORAGE_BUCKET</key>
	<string>cafehub-cc691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309124995785:ios:bb98d76e862aa3ed0e4b18</string>
</dict>
</plist>